/* event summary */
.event-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  gap: 2rem;
  margin: 0 auto;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 15px;
  color: var(--black);
}

.event-details__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.event-details__header h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
}

.event-details__header__details {
  width: 100%;
}

.event-details__header p {
  margin: 0;
  font-size: 1rem;
  color: var(--secondary);
}

.event-details__header p span {
  font-weight: bold;
  color: var(--primary);
}

.event-details__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event-details__body h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary);
}

.event-details__body__service,
.event-details__body__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.event-details__body__service h4 {
  margin: 0;
  font-weight: 500;
}

.event-details__body__total {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--primary);
}

.event-details__body__total h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black);
}

.event-details__body__total p {
  font-size: 1.3rem;
}

.event-details__body__service p,
.event-details__body__total p {
  margin: 0;
  font-weight: bold;
  color: var(--primary);
}

.event-details__body__button {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.event-details__body__button:has(.loading) {
  background-color: var(--secondary);
  cursor: default;
}

.event-details__body__button .loading {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: calc(50% - 16px);
  right: 5%;
  background-image: url('data: image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" ><radialGradient id="a11" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)" ><stop offset="0" stop-color="%23FFFFFF" ></stop><stop offset=".3" stop-color="%23FFFFFF" stop-opacity=".9" ></stop><stop offset=".6" stop-color="%23FFFFFF" stop-opacity=".6" ></stop><stop offset=".8" stop-color="%23FFFFFF" stop-opacity=".3" ></stop><stop offset="1" stop-color="%23FFFFFF" stop-opacity="0" ></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a11)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70" ><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite" ></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="%23FFFFFF" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70" ></circle></svg>');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.event-details__body__message {
  margin: 1rem 0 0;
  font-weight: 600;
  font-size: 1rem;
  color: var(--black);
}

@media (min-width: 768px) {
  .event-summary {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .event-details {
    position: sticky;
    top: 6rem;
  }
}