*, ::after, ::before {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--white);
}

#footer {
    background:var(--primary);
    color: var(--white);
    font-size: 14px;
    padding: 20px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 1.5rem 0 1.5rem 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    display: inline-block;
    background: var(--primary);
    color: #fff;
    line-height: 1;
    margin-right: 0.5rem;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: var(--black);
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
  }

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-left, .footer-right, .copyright{
   text-align: center;
}
.footer-left img{
    width: 25%;
    margin-top: 1.5rem;
}

.footer-links{
    padding: 0;
    line-height: 1.5em;
}
.footer-middle a:hover{
    color: var(--black);
}


