.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80dvh;
  padding: 2rem 0;
}

.form__container {
  position: relative;
  max-width: 512px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 30px var(--primary-light);
  overflow: hidden;
}

.form__container h2 {
  margin: 0 2rem 2rem;
  text-align: center;
}