.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80dvh;
  padding: 2rem 0;
}

.form__container {
  position: relative;
  max-width: 512px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  overflow: hidden;
}

.form__container h2 {
  margin: 0 2rem 2rem;
  text-align: center;
}

.square {
  position: absolute;
  width: 60dvw;
  height: 60dvw;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgba(120, 114, 230, 0.3);
  border-radius: 35px;
  filter: blur(10px);
  z-index: -100;
}