:root {
  --primary: #7772E6;
  --primary-light: rgba(118, 112, 230, 0.4);
  --secondary: #737380;
  --secondary-light: rgba(115, 115, 128, 0.4);
  --black: #1B1A33;
  --white: #FFFFFF;
  --red: #F02D3A;
}

html {
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
}

/* states */
.active {
  display: block;
}

.inactive {
  display: none;
}

.primary {
  text-shadow: 0 2px 10px var(--primary);
  color: var(--primary);
}
