.my-events {
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}

.my-events__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.my-events__header__create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
}

.my-events__header__create:hover {
  background-color: var(--black);
  box-shadow: 0 5px 15px var(--primary);
}

.my-events__header__create span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../svg/plus-white.svg') no-repeat center/cover;
}

.events-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin: 2rem 0;
}

/* list of events */
.event {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  gap: 2rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--primary);
  text-decoration: none;
  color: var(--secondary);
}

.event__header h3 {
  margin: 0 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  color: var(--black);
}

.event__header__details {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.event__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.event__price h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: var(--black);
}

.highlight-text {
  font-weight: bold;
  color: var(--primary);
}

.event__options,
.service__options {
  position: absolute;
  /* display: flex; */
  top: 0.5rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 10px;
  overflow: hidden;
}

.event__options__edit,
.event__options__delete,
.service__options__edit,
.service__options__delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.card .service__options__delete,
.card .service__options__delete:hover {
  position: static;
  width: 100%;
  height: auto;
  margin: 0;
  background-image: none;
  z-index: inherit;
}

.event__options__edit:hover,
.event__options__delete:hover,
.service__options__edit:hover,
.service__options__delete:hover {
  background-color: rgba(118, 112, 230, 0.4);
}

.event__options__edit span,
.event__options__delete span,
.service__options__edit span,
.service__options__delete span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.event__options__edit span,
.service__options__edit span {
  background: url('../svg/pencil.svg') no-repeat center/cover;
}

.event__options__delete span,
.service__options__delete span {
  background: url('../svg/trash.svg') no-repeat center/cover;
}

.icon-ellipsis {
  position: absolute;
  display: inline-block;
  top: 0.5rem;
  right: 0.5rem;
  width: 24px;
  height: 24px;
  background: url('../svg/elipsis.svg') no-repeat center/cover;
}

.icon-ellipsis--bg-white {
  background-color: var(--white);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .event {
    flex-direction: column;
  }
}