.profile-sidebar {
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 30px;
    margin-top: 1rem;
    background-color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}
.separator {
    height: 15px;
}

li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}