/* resume event */
.event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  gap: 2rem;
  margin: 0 auto;
}

.resume-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 5px 15px var(--primary);
  border-radius: 15px;
  color: var(--black);
}

.resume-event__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.resume-event__header h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
}

.resume-event__header__details {
  width: 100%;
}

.resume-event__header p {
  margin: 0;
  font-size: 1rem;
  color: var(--secondary);
}

.resume-event__header p span {
  font-weight: bold;
  color: var(--primary);
}

.resume-event__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resume-event__body h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary);
}

.resume-event__body__service,
.resume-event__body__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.resume-event__body__service h4 {
  margin: 0;
  font-weight: 500;
}

.resume-event__body__total {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--primary);
}

.resume-event__body__total h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black);
}

.resume-event__body__total p {
  font-size: 1.3rem;
}

.resume-event__body__service p,
.resume-event__body__total p {
  margin: 0;
  font-weight: bold;
  color: var(--primary);
}

.resume-event__body__button {
  width: 200px;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.resume-event__body__message {
  margin: 1rem 0 0;
  font-weight: 600;
  font-size: 1rem;
  color: var(--black);
}

.event-details .cards-container {
  width: 100%;
  padding: 0;
}

.event-details .cards-container button {
  background-image: url('../svg/trash-white.svg');
}

.event-details .cards-container button:hover {
  background-image: url('../svg/trash-white.svg');
}

.event-details {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.event-details .resume-event {
  position: sticky;
  top: 6rem;
  width: 40%;
}

.event-details .cards-container {
  width: 60%;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
}

.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--primary);
  background-color: transparent;
  text-decoration: none;
  color: var(--black);
}

.card button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: transparent;
  background-image: url('../svg/heart.svg');
  border: none;
  /* z-index: 10; */
  cursor: pointer;
}

.card button:hover {
  background-image: url('../svg/heart-fill.svg');
}

.card .favorite--active {
  background-image: url('../svg/heart-fill.svg');
}

.card img {
  width: 100%;
  height: 12rem;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__content {
  padding: 1rem;
}


.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card__title h2 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2rem;
}

.card__title span {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}

.card__content p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}

.card__content p:last-child {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
}

.price__card {
  color: var(--primary);
}

.ubication__card {
  color: var(--secondary);
}

.card i {
  color: var(--primary);
  float: right;
}

.card p.price {
  color: #333;
  font-size: 24px;
}
