:root {
  --primary: #7772E6;
  --secondary: #737380;
  --black: #1B1A33;
  --white: #FFFFFF;
}

html {
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
}