/* header */
header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--primary);
  background-color: var(--white);
  z-index: 100;
}

header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: 40px;
}

.hamburguer-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburguer-menu span {
  background-repeat: no-repeat;
  background-position: center;
}

.hamburguer-menu span:nth-child(1) {
  width: 24px;
  height: 24px;
  background-image: url('../../public/svg/hamburguer-menu.svg');
  background-size: 24px;
}

.hamburguer-menu span:nth-child(2) {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url('../../public/svg/profile-default.svg');
  background-size: cover;
}

.nav-bar {
  position: relative;
}

.nav-bar ul {
  position: absolute;
  top: 2.5rem;
  right: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 15px;
  overflow: hidden;
  z-index: 1000;
}

.nav-bar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.nav-bar ul li a {
  display: inline-block;
  width: 100%;
  min-width: 150px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: var(--black);
  text-align: center;
  text-decoration: none;
}

.nav-bar ul li:hover {
  background-color: rgba(118, 112, 230, 0.4);
}

.active {
  display: flex;
}

.search-bar {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--primary);
}

.search-bar input {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  text-indent: 16px;
  color: var(--white);
}

.search-bar input:focus {
  border: none;
}

.search-bar input::placeholder {
  color: var(--white);
}

.search-bar button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-image: url('../../public/svg/search.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  outline: none;
  cursor: pointer;
}